<br />
<b>Fatal error</b>:  Class 'Mage_Adminhtml_Model_System_Config_Backend_Serialized' not found in <b>/home/magestud/public_html/magento/app/code/core/Mage/Adminhtml/Model/System/Config/Backend/Serialized/Array.php</b> on line <b>32</b><br />
