<br />
<b>Fatal error</b>:  Class 'Mage_Paypal_Block_Payflow_Link_Form' not found in <b>/home/magestud/public_html/magento/app/code/core/Mage/Paypal/Block/Payflow/Advanced/Form.php</b> on line <b>35</b><br />
