<br />
<b>Fatal error</b>:  Class 'Mage_Paypal_Block_Payflow_Link_Review' not found in <b>/home/magestud/public_html/magento/app/code/core/Mage/Paypal/Block/Payflow/Advanced/Review.php</b> on line <b>36</b><br />
