<br />
<b>Fatal error</b>:  Class 'Mage_Core_Model_Resource_Db_Abstract' not found in <b>/home/magestud/public_html/magento/app/code/core/Mage/Paypal/Model/Resource/Report/Settlement/Row.php</b> on line <b>36</b><br />
