<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: Magento: Stop returning NULL or false</title>
	<atom:link href="http://www.andreiboar.com/magento/magento-stop-returning-null/feed/" rel="self" type="application/rss+xml" />
	<link>http://www.andreiboar.com/magento/magento-stop-returning-null/</link>
	<description>Web development professional blog</description>
	<lastBuildDate>Wed, 12 Mar 2014 09:02:06 +0000</lastBuildDate>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.1</generator>
	<item>
		<title>By: Matthew</title>
		<link>http://www.andreiboar.com/magento/magento-stop-returning-null/#comment-404</link>
		<dc:creator><![CDATA[Matthew]]></dc:creator>
		<pubDate>Mon, 02 Dec 2013 09:36:13 +0000</pubDate>
		<guid isPermaLink="false">http://www.andreiboar.com/?p=632#comment-404</guid>
		<description><![CDATA[If it returns $this, then how do we know if it was or was not successful in adding the, possibly critical, field?

The last method example in particular should be named something like &#039;addCustomerIdToFilter&#039; and return $this.  But method&#039;s like &#039;getCustomer&#039; I believe should return null if something cannot be found, after all, nothing could be found..]]></description>
		<content:encoded><![CDATA[<p>If it returns $this, then how do we know if it was or was not successful in adding the, possibly critical, field?</p>
<p>The last method example in particular should be named something like &#8216;addCustomerIdToFilter&#8217; and return $this.  But method&#8217;s like &#8216;getCustomer&#8217; I believe should return null if something cannot be found, after all, nothing could be found..</p>
]]></content:encoded>
	</item>
</channel>
</rss>
