<table cellspacing="0" width="100%">
    <col />
    <col width="1" />
    <br />
<b>Fatal error</b>:  Using $this when not in object context in <b>/home/magestud/public_html/magento/app/design/adminhtml/default/default/template/sales/order/totals.phtml</b> on line <b>38</b><br />
