<br />
<b>Fatal error</b>:  Class 'Mage_Paypal_Model_Resource_Report_Settlement' not found in <b>/home/magestud/public_html/magento/app/code/core/Mage/Paypal/Model/Mysql4/Report/Settlement.php</b> on line <b>36</b><br />
