<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: Magento: Add methods to your collection class</title>
	<atom:link href="http://www.andreiboar.com/magento/magento-add-methods-to-your-collection-class/feed/" rel="self" type="application/rss+xml" />
	<link>http://www.andreiboar.com/magento/magento-add-methods-to-your-collection-class/</link>
	<description>Web development professional blog</description>
	<lastBuildDate>Wed, 12 Mar 2014 09:02:06 +0000</lastBuildDate>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.1</generator>
	<item>
		<title>By: beeplogic</title>
		<link>http://www.andreiboar.com/magento/magento-add-methods-to-your-collection-class/#comment-166</link>
		<dc:creator><![CDATA[beeplogic]]></dc:creator>
		<pubDate>Mon, 02 Sep 2013 17:34:52 +0000</pubDate>
		<guid isPermaLink="false">http://www.andreiboar.com/?p=547#comment-166</guid>
		<description><![CDATA[Hopefully more Devs will pick up on this advice. I would recommend trying to stick with similar naming patterns that core uses. Instead of &#039;getActiveParties&#039; it could be named &#039;addActiveFilter&#039;. You&#039;ve already got an instance of &quot;parties&quot;, getting &quot;active parties&quot; is not an accurate of a description of what&#039;s going on: adding the necessary logic to filter the existing instance of a party collection. The assignment of $parties is also unnecessary as now it just points to the same instance that $partyCollection does. 

A &#039;getActiveParties&#039; method would be better suited for a helper class.]]></description>
		<content:encoded><![CDATA[<p>Hopefully more Devs will pick up on this advice. I would recommend trying to stick with similar naming patterns that core uses. Instead of &#8216;getActiveParties&#8217; it could be named &#8216;addActiveFilter&#8217;. You&#8217;ve already got an instance of &#8220;parties&#8221;, getting &#8220;active parties&#8221; is not an accurate of a description of what&#8217;s going on: adding the necessary logic to filter the existing instance of a party collection. The assignment of $parties is also unnecessary as now it just points to the same instance that $partyCollection does. </p>
<p>A &#8216;getActiveParties&#8217; method would be better suited for a helper class.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Sven</title>
		<link>http://www.andreiboar.com/magento/magento-add-methods-to-your-collection-class/#comment-163</link>
		<dc:creator><![CDATA[Sven]]></dc:creator>
		<pubDate>Mon, 02 Sep 2013 13:08:21 +0000</pubDate>
		<guid isPermaLink="false">http://www.andreiboar.com/?p=547#comment-163</guid>
		<description><![CDATA[Good approach! I would pay extra attention to good documentation of methods. A lot of IDE-s can use it and it helps a lot to navigate thru code and it&#039;s also helpful for apigen.]]></description>
		<content:encoded><![CDATA[<p>Good approach! I would pay extra attention to good documentation of methods. A lot of IDE-s can use it and it helps a lot to navigate thru code and it&#8217;s also helpful for apigen.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Andrei Boar</title>
		<link>http://www.andreiboar.com/magento/magento-add-methods-to-your-collection-class/#comment-160</link>
		<dc:creator><![CDATA[Andrei Boar]]></dc:creator>
		<pubDate>Mon, 02 Sep 2013 07:10:25 +0000</pubDate>
		<guid isPermaLink="false">http://www.andreiboar.com/?p=547#comment-160</guid>
		<description><![CDATA[Thank you! :)]]></description>
		<content:encoded><![CDATA[<p>Thank you! <img src="http://www.andreiboar.com/wp-includes/images/smilies/icon_smile.gif" alt=":)" class="wp-smiley" /> </p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Ed Mandell</title>
		<link>http://www.andreiboar.com/magento/magento-add-methods-to-your-collection-class/#comment-150</link>
		<dc:creator><![CDATA[Ed Mandell]]></dc:creator>
		<pubDate>Sat, 31 Aug 2013 14:48:56 +0000</pubDate>
		<guid isPermaLink="false">http://www.andreiboar.com/?p=547#comment-150</guid>
		<description><![CDATA[Thanks, a very useful posting]]></description>
		<content:encoded><![CDATA[<p>Thanks, a very useful posting</p>
]]></content:encoded>
	</item>
</channel>
</rss>
