<br />
<b>Fatal error</b>:  Class 'Mage_Core_Model_Resource_Db_Collection_Abstract' not found in <b>/home/magestud/public_html/magento/app/code/core/Mage/Paypal/Model/Resource/Payment/Transaction/Collection.php</b> on line <b>37</b><br />
