<br />
<b>Fatal error</b>:  Class 'Mage_Paypal_Block_Adminhtml_System_Config_Payflowlink_Info' not found in <b>/home/magestud/public_html/magento/app/code/core/Mage/Paypal/Block/Adminhtml/System/Config/Payflowlink/Advanced.php</b> on line <b>36</b><br />
