<br />
<b>Fatal error</b>:  Class 'Mage_Shipping_Model_Carrier_Abstract' not found in <b>/home/magestud/public_html/magento/app/code/core/Mage/Shipping/Model/Carrier/Flatrate.php</b> on line <b>37</b><br />
