<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: Register an Observer</title>
	<atom:link href="http://www.andreiboar.com/magento/register-an-observer/feed/" rel="self" type="application/rss+xml" />
	<link>http://www.andreiboar.com/magento/register-an-observer/</link>
	<description>Web development professional blog</description>
	<lastBuildDate>Wed, 12 Mar 2014 09:02:06 +0000</lastBuildDate>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.1</generator>
	<item>
		<title>By: Andrei Boar</title>
		<link>http://www.andreiboar.com/magento/register-an-observer/#comment-140</link>
		<dc:creator><![CDATA[Andrei Boar]]></dc:creator>
		<pubDate>Tue, 13 Aug 2013 10:04:28 +0000</pubDate>
		<guid isPermaLink="false">http://www.andreiboar.com/?p=152#comment-140</guid>
		<description><![CDATA[You&#039;re welcome :) I also like reading familiar topics so I can review them :)]]></description>
		<content:encoded><![CDATA[<p>You&#8217;re welcome <img src="http://www.andreiboar.com/wp-includes/images/smilies/icon_smile.gif" alt=":)" class="wp-smiley" />  I also like reading familiar topics so I can review them <img src="http://www.andreiboar.com/wp-includes/images/smilies/icon_smile.gif" alt=":)" class="wp-smiley" /> </p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Maneesh</title>
		<link>http://www.andreiboar.com/magento/register-an-observer/#comment-138</link>
		<dc:creator><![CDATA[Maneesh]]></dc:creator>
		<pubDate>Fri, 09 Aug 2013 19:01:28 +0000</pubDate>
		<guid isPermaLink="false">http://www.andreiboar.com/?p=152#comment-138</guid>
		<description><![CDATA[Thanks. This was useful even if I had basic knowledge about observers.]]></description>
		<content:encoded><![CDATA[<p>Thanks. This was useful even if I had basic knowledge about observers.</p>
]]></content:encoded>
	</item>
</channel>
</rss>
