<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: Models, resource models and collections</title>
	<atom:link href="http://www.andreiboar.com/magento/models-resource-models-and-collections/feed/" rel="self" type="application/rss+xml" />
	<link>http://www.andreiboar.com/magento/models-resource-models-and-collections/</link>
	<description>Web development professional blog</description>
	<lastBuildDate>Wed, 12 Mar 2014 09:02:06 +0000</lastBuildDate>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.1</generator>
	<item>
		<title>By: Models, resource models and collections. Part II &#171; Andrei Boar</title>
		<link>http://www.andreiboar.com/magento/models-resource-models-and-collections/#comment-76</link>
		<dc:creator><![CDATA[Models, resource models and collections. Part II &#171; Andrei Boar]]></dc:creator>
		<pubDate>Wed, 03 Apr 2013 11:25:58 +0000</pubDate>
		<guid isPermaLink="false">http://www.andreiboar.com/?p=310#comment-76</guid>
		<description><![CDATA[[...] &#171; Models, resource models and collections [...]]]></description>
		<content:encoded><![CDATA[<p>[...] &laquo; Models, resource models and collections [...]</p>
]]></content:encoded>
	</item>
</channel>
</rss>
