<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: Basic testing for your model, resource and collection in Magento</title>
	<atom:link href="http://www.andreiboar.com/magento/testing-your-model-resource-and-collection/feed/" rel="self" type="application/rss+xml" />
	<link>http://www.andreiboar.com/magento/testing-your-model-resource-and-collection/</link>
	<description>Web development professional blog</description>
	<lastBuildDate>Wed, 12 Mar 2014 09:02:06 +0000</lastBuildDate>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.1</generator>
	<item>
		<title>By: Maneesh</title>
		<link>http://www.andreiboar.com/magento/testing-your-model-resource-and-collection/#comment-137</link>
		<dc:creator><![CDATA[Maneesh]]></dc:creator>
		<pubDate>Fri, 09 Aug 2013 16:53:50 +0000</pubDate>
		<guid isPermaLink="false">http://www.andreiboar.com/?p=463#comment-137</guid>
		<description><![CDATA[Nice Trick in the bag]]></description>
		<content:encoded><![CDATA[<p>Nice Trick in the bag</p>
]]></content:encoded>
	</item>
</channel>
</rss>
