<br />
<b>Fatal error</b>:  Class 'Mage_Sales_Model_Api_Resource' not found in <b>/home/magestud/public_html/magento/app/code/core/Mage/Sales/Model/Order/Creditmemo/Api.php</b> on line <b>35</b><br />
