<br />
<b>Fatal error</b>:  Class 'Mage_Sales_Model_Abstract' not found in <b>/home/magestud/public_html/magento/app/code/core/Mage/Sales/Model/Order/Creditmemo/Comment.php</b> on line <b>49</b><br />
