<br />
<b>Fatal error</b>:  Class 'Mage_Shipping_Model_Resource_Carrier_Tablerate' not found in <b>/home/magestud/public_html/magento/app/code/core/Mage/Shipping/Model/Mysql4/Carrier/Tablerate.php</b> on line <b>36</b><br />
