<br />
<b>Fatal error</b>:  Class 'Mage_Sales_Model_Payment_Method_Billing_AgreementAbstract' not found in <b>/home/magestud/public_html/magento/app/code/core/Mage/Paypal/Model/Method/Agreement.php</b> on line <b>33</b><br />
