<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: Configure a database connection in Magento</title>
	<atom:link href="http://www.andreiboar.com/magento/configure-a-database-connection-in-magento/feed/" rel="self" type="application/rss+xml" />
	<link>http://www.andreiboar.com/magento/configure-a-database-connection-in-magento/</link>
	<description>Web development professional blog</description>
	<lastBuildDate>Wed, 12 Mar 2014 09:02:06 +0000</lastBuildDate>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.1</generator>
	<item>
		<title>By: Schaufensterpuppe</title>
		<link>http://www.andreiboar.com/magento/configure-a-database-connection-in-magento/#comment-251</link>
		<dc:creator><![CDATA[Schaufensterpuppe]]></dc:creator>
		<pubDate>Tue, 15 Oct 2013 07:09:35 +0000</pubDate>
		<guid isPermaLink="false">http://www.andreiboar.com/?p=366#comment-251</guid>
		<description><![CDATA[This part is really hard for me :-D]]></description>
		<content:encoded><![CDATA[<p>This part is really hard for me <img src="http://www.andreiboar.com/wp-includes/images/smilies/icon_biggrin.gif" alt=":-D" class="wp-smiley" /> </p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Andrei Boar</title>
		<link>http://www.andreiboar.com/magento/configure-a-database-connection-in-magento/#comment-250</link>
		<dc:creator><![CDATA[Andrei Boar]]></dc:creator>
		<pubDate>Sun, 13 Oct 2013 16:03:51 +0000</pubDate>
		<guid isPermaLink="false">http://www.andreiboar.com/?p=366#comment-250</guid>
		<description><![CDATA[You&#039;re welcome :)]]></description>
		<content:encoded><![CDATA[<p>You&#8217;re welcome <img src="http://www.andreiboar.com/wp-includes/images/smilies/icon_smile.gif" alt=":)" class="wp-smiley" /> </p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Jay Stewart</title>
		<link>http://www.andreiboar.com/magento/configure-a-database-connection-in-magento/#comment-249</link>
		<dc:creator><![CDATA[Jay Stewart]]></dc:creator>
		<pubDate>Sun, 13 Oct 2013 15:56:00 +0000</pubDate>
		<guid isPermaLink="false">http://www.andreiboar.com/?p=366#comment-249</guid>
		<description><![CDATA[Thank you :-)]]></description>
		<content:encoded><![CDATA[<p>Thank you <img src="http://www.andreiboar.com/wp-includes/images/smilies/icon_smile.gif" alt=":-)" class="wp-smiley" /> </p>
]]></content:encoded>
	</item>
</channel>
</rss>
