<div class="entry-edit">
    <div class="entry-edit-head">
        <div style="float: right;"><br />
<b>Fatal error</b>:  Using $this when not in object context in <b>/home/magestud/public_html/magento/app/design/adminhtml/default/default/template/sales/order/create/abstract.phtml</b> on line <b>29</b><br />
