<div class="page-create-order">
<p class="switcher">
<label for="currency_switcher"><br />
<b>Fatal error</b>:  Class 'Mage' not found in <b>/home/magestud/public_html/magento/app/design/adminhtml/default/default/template/sales/order/create/data.phtml</b> on line <b>29</b><br />
