<script type="text/javascript">
    var order = new AdminOrder(<br />
<b>Fatal error</b>:  Using $this when not in object context in <b>/home/magestud/public_html/magento/app/design/adminhtml/default/default/template/sales/order/create/form.phtml</b> on line <b>28</b><br />
