<table cellspacing="0" cellpadding="8" width="100%">
    <tbody>
        <br />
<b>Fatal error</b>:  Using $this when not in object context in <b>/home/magestud/public_html/magento/app/design/adminhtml/default/default/template/sales/order/create/totals.phtml</b> on line <b>29</b><br />
