<br />
<b>Fatal error</b>:  Class 'Mage_Core_Model_Config_Data' not found in <b>/home/magestud/public_html/magento/app/code/core/Mage/Paypal/Model/System/Config/Backend/Cron.php</b> on line <b>28</b><br />
