<br />
<b>Fatal error</b>:  Class 'Mage_Sales_Model_Order_Invoice_Total_Abstract' not found in <b>/home/magestud/public_html/magento/app/code/core/Mage/Sales/Model/Order/Invoice/Total/Subtotal.php</b> on line <b>29</b><br />
