<br />
<b>Fatal error</b>:  Call to a member function startSetup() on a non-object in <b>/home/magestud/public_html/magento/app/code/core/Mage/PaypalUk/sql/paypaluk_setup/mysql4-install-0.7.0.php</b> on line <b>31</b><br />
