<br />
<b>Fatal error</b>:  Class 'Mage_Adminhtml_Model_System_Config_Backend_Currency_Abstract' not found in <b>/home/magestud/public_html/magento/app/code/core/Mage/Adminhtml/Model/System/Config/Backend/Currency/Base.php</b> on line <b>38</b><br />
