<br />
<b>Fatal error</b>:  Class 'Mage_Shipping_Model_Rate_Result_Abstract' not found in <b>/home/magestud/public_html/magento/app/code/core/Mage/Shipping/Model/Rate/Result/Method.php</b> on line <b>38</b><br />
