
    <br />
<b>Fatal error</b>:  Using $this when not in object context in <b>/home/magestud/public_html/magento/app/design/adminhtml/default/default/template/sales/recurring/profile/view.phtml</b> on line <b>30</b><br />
