<br />
<b>Fatal error</b>:  Class 'Mage_Adminhtml_Model_System_Config_Source_Payment_Allmethods' not found in <b>/home/magestud/public_html/magento/app/code/core/Mage/Adminhtml/Model/System/Config/Source/Payment/Allowedmethods.php</b> on line <b>29</b><br />
