<br />
<b>Fatal error</b>:  Class 'Mage_Paypal_Controller_Express_Abstract' not found in <b>/home/magestud/public_html/magento/app/code/core/Mage/Paypal/controllers/ExpressController.php</b> on line <b>31</b><br />
