<br />
<b>Fatal error</b>:  Class 'Mage_Core_Controller_Front_Action' not found in <b>/home/magestud/public_html/magento/app/code/core/Mage/Paypal/controllers/IpnController.php</b> on line <b>31</b><br />
