<br />
<b>Fatal error</b>:  Class 'Mage_Core_Controller_Front_Action' not found in <b>/home/magestud/public_html/magento/app/code/core/Mage/Paypal/controllers/PayflowController.php</b> on line <b>35</b><br />
