Here is a link to great article regarding this subject: <a href="http://blog.belvg.com/magento-certified-developer-exam-internationalization.html" target="_blank">http://blog.belvg.com/magento-certified-developer-exam-internationalization.html</a>
   by <a href="http://blog.belvg.com/author/sergey-guk" target="_blank">Sergei Guk</a>
