by <a href="http://blog.belvg.com/author/sergey-guk" target="_blank">Sergei Guk</a>
<h3><a href="http://blog.belvg.com/magento-certification-magento-codepool.html" target="_blank">http://blog.belvg.com/magento-certification-magento-codepool.html</a></h3>
<p>Magento firstly it includes Local code pool, than community and after that core, which allow developers to override classes without changing core files.</p>
<p>Magento has three different codepools: Community, Core, Local.</p>

<h3>Core pool</h3>
<p>First of all, this folder stores all the code that makes Magento so powerful, flexible and lovely.
  The chief rule of Magento development is that you should never make any changes in it.
  In other words,this folder belongs to Magento core developers only and if you are going to edit anything in this pool,
  their evil spirit could punish you even through the display.</p>

<h3>Community pool</h3>
<p>This folder belongs entirely to community developers.
  This is the right place for hundreds of 3rdparty extensions, both free and paid,
  that can be found at MagentoConnect or available onextensions development store (for instance, <a href="http://store.belvg.com/" target="_blank">http://store.belvg.com/</a>).
  So basically, if you have installed any extension, it must be in app/code/community/ only.</p>

<h3>Local pool</h3>
<p>If you have your own Magento-based store and want to make everything by yourself or you are aMagento developer and have a purpose to change the logic somehow,
   local pool is the place where everything should be done.
  If you want to override Magento extensions, blocks or methods, copy the necessary folders from the Core pool and do whatever you are inclined to do.
  Apply the same rule for custom extensions that are created specifically for the website all code should be in localpool</p>
