Mage_Core_Block_Abstract fire:<br/><br/>
in _prepareLayout() function
<ul>
  <li>core_block_abstract_prepare_layout_before</li>
  <li>core_block_abstract_prepare_layout_after</li>
</ul>
<br/>
and in toHtml()function:
<ul>
  <li>core_block_abstract_to_html_before</li>
  <li>core_block_abstract_to_html_after</li>
</ul>
<br/>
Mage_Core_Block_Template has no events to fire.
