<br />
<b>Fatal error</b>:  Class 'Mage_Adminhtml_Block_Widget_Grid_Container' not found in <b>/home/magestud/public_html/magento/app/code/core/Mage/Paypal/Block/Adminhtml/Settlement/Report.php</b> on line <b>35</b><br />
