<br />
<b>Fatal error</b>:  Class 'Mage_Adminhtml_Block_System_Config_Form_Field' not found in <b>/home/magestud/public_html/magento/app/code/core/Mage/Adminhtml/Block/System/Config/System/Storage/Media/Synchronize.php</b> on line <b>37</b><br />
