<br />
<b>Fatal error</b>:  Class 'Mage_Adminhtml_Block_Widget_Grid_Column_Renderer_Abstract' not found in <b>/home/magestud/public_html/magento/app/code/core/Mage/Adminhtml/Block/Widget/Grid/Column/Renderer/Datetime.php</b> on line <b>37</b><br />
