<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: Magento Adminhtml:  Make your controller work under the /admin route</title>
	<atom:link href="http://www.andreiboar.com/magento/magento-adminhtml-make-your-controller-work-under-the-admin-route/feed/" rel="self" type="application/rss+xml" />
	<link>http://www.andreiboar.com/magento/magento-adminhtml-make-your-controller-work-under-the-admin-route/</link>
	<description>Web development professional blog</description>
	<lastBuildDate>Wed, 12 Mar 2014 09:02:06 +0000</lastBuildDate>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.1</generator>
	<item>
		<title>By: Magento Adminhtml: Grids in Magento &#171; Andrei Boar</title>
		<link>http://www.andreiboar.com/magento/magento-adminhtml-make-your-controller-work-under-the-admin-route/#comment-144</link>
		<dc:creator><![CDATA[Magento Adminhtml: Grids in Magento &#171; Andrei Boar]]></dc:creator>
		<pubDate>Wed, 14 Aug 2013 09:52:12 +0000</pubDate>
		<guid isPermaLink="false">http://www.andreiboar.com/?p=433#comment-144</guid>
		<description><![CDATA[[&#8230;] Student/controllers/Adminhtml/StudentController.php is the controller class responsible for displaying the grid. I already wrote how to make your controller work under the admin route. [&#8230;]]]></description>
		<content:encoded><![CDATA[<p>[&#8230;] Student/controllers/Adminhtml/StudentController.php is the controller class responsible for displaying the grid. I already wrote how to make your controller work under the admin route. [&#8230;]</p>
]]></content:encoded>
	</item>
</channel>
</rss>
