<br />
<b>Fatal error</b>:  Class 'Mage_Adminhtml_Model_System_Config_Backend_Image' not found in <b>/home/magestud/public_html/magento/app/code/core/Mage/Adminhtml/Model/System/Config/Backend/Image/Favicon.php</b> on line <b>36</b><br />
