<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: Magento Adminhtml: Common structure/architecture</title>
	<atom:link href="http://www.andreiboar.com/magento/magento-adminhtml-common-structurearchitecture/feed/" rel="self" type="application/rss+xml" />
	<link>http://www.andreiboar.com/magento/magento-adminhtml-common-structurearchitecture/</link>
	<description>Web development professional blog</description>
	<lastBuildDate>Wed, 12 Mar 2014 09:02:06 +0000</lastBuildDate>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.1</generator>
	<item>
		<title>By: Paulo</title>
		<link>http://www.andreiboar.com/magento/magento-adminhtml-common-structurearchitecture/#comment-242</link>
		<dc:creator><![CDATA[Paulo]]></dc:creator>
		<pubDate>Wed, 09 Oct 2013 15:42:21 +0000</pubDate>
		<guid isPermaLink="false">http://www.andreiboar.com/?p=401#comment-242</guid>
		<description><![CDATA[Hi, I would like to know why when I try to do any changes in product, catalog and other backend config chages, it doesn´t work and the error message: Invalid Form Key, please refresh the page.
What can I do to avoid this and have the thing working back?

Thanks  lot

Paulo]]></description>
		<content:encoded><![CDATA[<p>Hi, I would like to know why when I try to do any changes in product, catalog and other backend config chages, it doesn´t work and the error message: Invalid Form Key, please refresh the page.<br />
What can I do to avoid this and have the thing working back?</p>
<p>Thanks  lot</p>
<p>Paulo</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Working with Adminhtml in Magento &#171; Andrei Boar</title>
		<link>http://www.andreiboar.com/magento/magento-adminhtml-common-structurearchitecture/#comment-142</link>
		<dc:creator><![CDATA[Working with Adminhtml in Magento &#171; Andrei Boar]]></dc:creator>
		<pubDate>Tue, 13 Aug 2013 10:27:48 +0000</pubDate>
		<guid isPermaLink="false">http://www.andreiboar.com/?p=401#comment-142</guid>
		<description><![CDATA[[&#8230;] hope you can learn with me the basics stuff when working with Magento Adminhtml. I already wrote a post about common structure of Magento adminhtml so you can check it if you haven&#8217;t did this by [&#8230;]]]></description>
		<content:encoded><![CDATA[<p>[&#8230;] hope you can learn with me the basics stuff when working with Magento Adminhtml. I already wrote a post about common structure of Magento adminhtml so you can check it if you haven&#8217;t did this by [&#8230;]</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Magento Adminhtml: Make your controller work under the /admin route &#171; Andrei Boar</title>
		<link>http://www.andreiboar.com/magento/magento-adminhtml-common-structurearchitecture/#comment-118</link>
		<dc:creator><![CDATA[Magento Adminhtml: Make your controller work under the /admin route &#171; Andrei Boar]]></dc:creator>
		<pubDate>Thu, 09 May 2013 07:07:32 +0000</pubDate>
		<guid isPermaLink="false">http://www.andreiboar.com/?p=401#comment-118</guid>
		<description><![CDATA[[...] &#171; Magento Adminhtml: Common structure/architecture [...]]]></description>
		<content:encoded><![CDATA[<p>[...] &laquo; Magento Adminhtml: Common structure/architecture [...]</p>
]]></content:encoded>
	</item>
</channel>
</rss>
