<br />
<b>Fatal error</b>:  Class 'Mage_Core_Model_Config_Data' not found in <b>/home/magestud/public_html/magento/app/code/core/Mage/Adminhtml/Model/System/Config/Backend/Cache.php</b> on line <b>32</b><br />
