<br />
<b>Fatal error</b>:  Class 'Mage_Adminhtml_Model_System_Config_Backend_Serialized_Array' not found in <b>/home/magestud/public_html/magento/app/code/core/Mage/Adminhtml/Model/System/Config/Backend/Design/Exception.php</b> on line <b>28</b><br />
