<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: Magento Front Controller</title>
	<atom:link href="http://www.andreiboar.com/magento/magento-front-controller/feed/" rel="self" type="application/rss+xml" />
	<link>http://www.andreiboar.com/magento/magento-front-controller/</link>
	<description>Web development professional blog</description>
	<lastBuildDate>Wed, 12 Mar 2014 09:02:06 +0000</lastBuildDate>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.1</generator>
	<item>
		<title>By: Remaining chapters from Request Flow &#171; Andrei Boar</title>
		<link>http://www.andreiboar.com/magento/magento-front-controller/#comment-45</link>
		<dc:creator><![CDATA[Remaining chapters from Request Flow &#171; Andrei Boar]]></dc:creator>
		<pubDate>Wed, 27 Mar 2013 06:42:18 +0000</pubDate>
		<guid isPermaLink="false">http://www.andreiboar.com/?p=258#comment-45</guid>
		<description><![CDATA[[...] &#171; Magento Front Controller [...]]]></description>
		<content:encoded><![CDATA[<p>[...] &laquo; Magento Front Controller [...]</p>
]]></content:encoded>
	</item>
</channel>
</rss>
