<br />
<b>Fatal error</b>:  Class 'Mage_Checkout_Block_Onepage_Billing' not found in <b>/home/magestud/public_html/magento/app/code/core/Mage/Paypal/Block/Express/Review/Billing.php</b> on line <b>35</b><br />
