<br />
<b>Fatal error</b>:  Class 'Mage_Checkout_Block_Cart_Totals' not found in <b>/home/magestud/public_html/magento/app/code/core/Mage/Paypal/Block/Express/Review/Details.php</b> on line <b>35</b><br />
