<br />
<b>Fatal error</b>:  Class 'Varien_Data_Form_Element_Abstract' not found in <b>/home/magestud/public_html/magento/app/code/core/Mage/Adminhtml/Block/System/Config/Form/Field/Export.php</b> on line <b>35</b><br />
