<br />
<b>Fatal error</b>:  Class 'Varien_Data_Form_Element_Image' not found in <b>/home/magestud/public_html/magento/app/code/core/Mage/Adminhtml/Block/System/Config/Form/Field/Image.php</b> on line <b>36</b><br />
