<br />
<b>Fatal error</b>:  Class 'Mage_Adminhtml_Block_System_Config_Form_Field_Array_Abstract' not found in <b>/home/magestud/public_html/magento/app/code/core/Mage/Adminhtml/Block/System/Config/Form/Field/Regexceptions.php</b> on line <b>35</b><br />
