<br />
<b>Fatal error</b>:  Class 'Mage_Adminhtml_Model_System_Config_Source_Shipping_Allmethods' not found in <b>/home/magestud/public_html/magento/app/code/core/Mage/Adminhtml/Model/System/Config/Source/Shipping/Allowedmethods.php</b> on line <b>32</b><br />
