<div class="store-scope">
    <br />
<b>Fatal error</b>:  Using $this when not in object context in <b>/home/magestud/public_html/magento/app/design/adminhtml/default/default/template/sales/order/create/store/select.phtml</b> on line <b>29</b><br />
