<div class="entry-edit">
    <div class="entry-edit-head">
        <h4 class="icon-head fieldset-legend <br />
<b>Fatal error</b>:  Using $this when not in object context in <b>/home/magestud/public_html/magento/app/design/adminhtml/default/default/template/sales/order/create/form/account.phtml</b> on line <b>29</b><br />
