<input type="checkbox" name="newsletter:subscribe"> <label for="newsletter:subscribe" style="width: 90%; float: none;"><br />
<b>Fatal error</b>:  Class 'Mage' not found in <b>/home/magestud/public_html/magento/app/design/adminhtml/default/default/template/sales/order/create/newsletter/form.phtml</b> on line <b>27</b><br />
