<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: Magento Adminhtml: Forms in Magento</title>
	<atom:link href="http://www.andreiboar.com/magento/magento-adminhtml-forms-in-magento/feed/" rel="self" type="application/rss+xml" />
	<link>http://www.andreiboar.com/magento/magento-adminhtml-forms-in-magento/</link>
	<description>Web development professional blog</description>
	<lastBuildDate>Wed, 12 Mar 2014 09:02:06 +0000</lastBuildDate>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.1</generator>
	<item>
		<title>By: Andrei Boar</title>
		<link>http://www.andreiboar.com/magento/magento-adminhtml-forms-in-magento/#comment-29484</link>
		<dc:creator><![CDATA[Andrei Boar]]></dc:creator>
		<pubDate>Wed, 12 Mar 2014 09:02:06 +0000</pubDate>
		<guid isPermaLink="false">http://www.andreiboar.com/?p=403#comment-29484</guid>
		<description><![CDATA[@dilip What this error says? Mage_Student_Helper_Data not found. So Magento tries to find the Mage_Student_Helper_Data class. But you don&#039;t have this class.

Good.

Where is this error comes?
From Mage::helper(&#039;student&#039;). So when you do Mage::helper(&#039;student&#039;) Magento tries to find the default helper(Data) from student namespace. 
Check this http://www.andreiboar.com/magento/class-group-configuration-in-magento/

My guess is that I didn&#039;t declared &#039;helpers&#039; node in config.xml.]]></description>
		<content:encoded><![CDATA[<p>@dilip What this error says? Mage_Student_Helper_Data not found. So Magento tries to find the Mage_Student_Helper_Data class. But you don&#8217;t have this class.</p>
<p>Good.</p>
<p>Where is this error comes?<br />
From Mage::helper(&#8216;student&#8217;). So when you do Mage::helper(&#8216;student&#8217;) Magento tries to find the default helper(Data) from student namespace.<br />
Check this <a href="http://www.andreiboar.com/magento/class-group-configuration-in-magento/" rel="nofollow">http://www.andreiboar.com/magento/class-group-configuration-in-magento/</a></p>
<p>My guess is that I didn&#8217;t declared &#8216;helpers&#8217; node in config.xml.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: dilip</title>
		<link>http://www.andreiboar.com/magento/magento-adminhtml-forms-in-magento/#comment-29483</link>
		<dc:creator><![CDATA[dilip]]></dc:creator>
		<pubDate>Wed, 12 Mar 2014 08:51:55 +0000</pubDate>
		<guid isPermaLink="false">http://www.andreiboar.com/?p=403#comment-29483</guid>
		<description><![CDATA[i have follow all your instructions and builds exactly same module structure as you have given, still i am getting following error.
Fatal error: Class &#039;Mage_Student_Helper_Data&#039; not found in /var/www/Champ/magento/app/Mage.php on line 547

please tell me what should i do to solve this error.]]></description>
		<content:encoded><![CDATA[<p>i have follow all your instructions and builds exactly same module structure as you have given, still i am getting following error.<br />
Fatal error: Class &#8216;Mage_Student_Helper_Data&#8217; not found in /var/www/Champ/magento/app/Mage.php on line 547</p>
<p>please tell me what should i do to solve this error.</p>
]]></content:encoded>
	</item>
</channel>
</rss>
