<br />
<b>Fatal error</b>:  Class 'Mage_Adminhtml_Block_Abstract' not found in <b>/home/magestud/public_html/magento/app/code/core/Mage/Adminhtml/Block/Widget/Grid/Column/Filter/Abstract.php</b> on line <b>35</b><br />
