<br />
<b>Fatal error</b>:  Class 'Mage_Adminhtml_Block_System_Config_Form_Fieldset' not found in <b>/home/magestud/public_html/magento/app/code/core/Mage/Adminhtml/Block/System/Config/Form/Fieldset/Modules/DisableOutput.php</b> on line <b>30</b><br />
