<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: Models, resource models and collections. Part II</title>
	<atom:link href="http://www.andreiboar.com/magento/models-resource-models-and-collections-part-ii/feed/" rel="self" type="application/rss+xml" />
	<link>http://www.andreiboar.com/magento/models-resource-models-and-collections-part-ii/</link>
	<description>Web development professional blog</description>
	<lastBuildDate>Wed, 12 Mar 2014 09:02:06 +0000</lastBuildDate>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.1</generator>
	<item>
		<title>By: Magento Adminhtml: Grids in Magento &#171; Andrei Boar</title>
		<link>http://www.andreiboar.com/magento/models-resource-models-and-collections-part-ii/#comment-143</link>
		<dc:creator><![CDATA[Magento Adminhtml: Grids in Magento &#171; Andrei Boar]]></dc:creator>
		<pubDate>Wed, 14 Aug 2013 09:48:08 +0000</pubDate>
		<guid isPermaLink="false">http://www.andreiboar.com/?p=319#comment-143</guid>
		<description><![CDATA[[&#8230;] Student/Model/ contains the Student model and its resource model and resource collection. I already wrote how to create a model and its resource model and collection. [&#8230;]]]></description>
		<content:encoded><![CDATA[<p>[&#8230;] Student/Model/ contains the Student model and its resource model and resource collection. I already wrote how to create a model and its resource model and collection. [&#8230;]</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Andrei Boar</title>
		<link>http://www.andreiboar.com/magento/models-resource-models-and-collections-part-ii/#comment-141</link>
		<dc:creator><![CDATA[Andrei Boar]]></dc:creator>
		<pubDate>Tue, 13 Aug 2013 10:05:10 +0000</pubDate>
		<guid isPermaLink="false">http://www.andreiboar.com/?p=319#comment-141</guid>
		<description><![CDATA[You&#039;re welcome :) Thank you for your comment!]]></description>
		<content:encoded><![CDATA[<p>You&#8217;re welcome <img src="http://www.andreiboar.com/wp-includes/images/smilies/icon_smile.gif" alt=":)" class="wp-smiley" />  Thank you for your comment!</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Maneesh</title>
		<link>http://www.andreiboar.com/magento/models-resource-models-and-collections-part-ii/#comment-139</link>
		<dc:creator><![CDATA[Maneesh]]></dc:creator>
		<pubDate>Sat, 10 Aug 2013 07:43:43 +0000</pubDate>
		<guid isPermaLink="false">http://www.andreiboar.com/?p=319#comment-139</guid>
		<description><![CDATA[Thanks]]></description>
		<content:encoded><![CDATA[<p>Thanks</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Magento Adminhtml: Make your controller work under the /admin route &#171; Andrei Boar</title>
		<link>http://www.andreiboar.com/magento/models-resource-models-and-collections-part-ii/#comment-119</link>
		<dc:creator><![CDATA[Magento Adminhtml: Make your controller work under the /admin route &#171; Andrei Boar]]></dc:creator>
		<pubDate>Thu, 09 May 2013 07:08:41 +0000</pubDate>
		<guid isPermaLink="false">http://www.andreiboar.com/?p=319#comment-119</guid>
		<description><![CDATA[[...] know how to create a module in Magento. I wrote about the basics of creating a Magento module in the beginning of this post. To follow me more easily, you should note that my namespace is Certification, and the module name [...]]]></description>
		<content:encoded><![CDATA[<p>[...] know how to create a module in Magento. I wrote about the basics of creating a Magento module in the beginning of this post. To follow me more easily, you should note that my namespace is Certification, and the module name [...]</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Configure a database connection in Magento &#171; Andrei Boar</title>
		<link>http://www.andreiboar.com/magento/models-resource-models-and-collections-part-ii/#comment-114</link>
		<dc:creator><![CDATA[Configure a database connection in Magento &#171; Andrei Boar]]></dc:creator>
		<pubDate>Sat, 27 Apr 2013 12:41:18 +0000</pubDate>
		<guid isPermaLink="false">http://www.andreiboar.com/?p=319#comment-114</guid>
		<description><![CDATA[[...] we can use this system to add another database connection for a custom module. In a previous post, I created a module which had a model called Student which was fetching data from [...]]]></description>
		<content:encoded><![CDATA[<p>[...] we can use this system to add another database connection for a custom module. In a previous post, I created a module which had a model called Student which was fetching data from [...]</p>
]]></content:encoded>
	</item>
</channel>
</rss>
