<div id="order_history_block">
    <br />
<b>Fatal error</b>:  Using $this when not in object context in <b>/home/magestud/public_html/magento/app/design/adminhtml/default/default/template/sales/order/view/history.phtml</b> on line <b>28</b><br />
