<br />
<b>Fatal error</b>:  Class 'Mage_Adminhtml_Block_System_Config_Form_Fieldset' not found in <b>/home/magestud/public_html/magento/app/code/core/Mage/Paypal/Block/Adminhtml/System/Config/Fieldset/Group.php</b> on line <b>36</b><br />
