<br />
<b>Fatal error</b>:  Class 'Mage_Adminhtml_Block_Abstract' not found in <b>/home/magestud/public_html/magento/app/code/core/Mage/Paypal/Block/Adminhtml/System/Config/Fieldset/Hint.php</b> on line <b>35</b><br />
