<br />
<b>Fatal error</b>:  Class 'Mage_Paypal_Controller_Express_Abstract' not found in <b>/home/magestud/public_html/magento/app/code/core/Mage/PaypalUk/controllers/ExpressController.php</b> on line <b>32</b><br />
