<br />
<b>Fatal error</b>:  Class 'Mage_Adminhtml_Block_Widget_Tabs' not found in <b>/home/magestud/public_html/magento/app/code/core/Mage/Adminhtml/Block/System/Config/Dwstree.php</b> on line <b>35</b><br />
