<br />
<b>Fatal error</b>:  Class 'Mage_Adminhtml_Block_Template' not found in <b>/home/magestud/public_html/magento/app/code/core/Mage/Adminhtml/Block/System/Config/Switcher.php</b> on line <b>29</b><br />
