<br />
<b>Fatal error</b>:  Class 'Mage_Adminhtml_Block_Widget' not found in <b>/home/magestud/public_html/magento/app/code/core/Mage/Adminhtml/Block/System/Config/Tabs.php</b> on line <b>36</b><br />
