<br />
<b>Fatal error</b>:  Class 'Mage_Sales_Model_Quote_Address_Total_Abstract' not found in <b>/home/magestud/public_html/magento/app/code/core/Mage/Sales/Model/Quote/Address/Total/Nominal/RecurringAbstract.php</b> on line <b>32</b><br />
