/* Magento SaaS */
.magento-saas { width:949px; }
.saas-main { width:949px; min-height:470px; }
.saas-head,
.saas-head1,
.saas-head2 { background:url(../img/stratus/saas-head.jpg) no-repeat 0 0; width:949px; height:172px; text-indent:-2000em; margin:0; }
.saas-head1 { background:url(../img/stratus/saas-head1.jpg) no-repeat 0 0; }
.saas-head2 { background:url(../img/stratus/saas-head2.jpg) no-repeat 0 0; height:100px; }
.saas-left { background:url(../img/stratus/saas-left.jpg) no-repeat 0 0; width:453px; height:358px; text-indent:-2000em; float:left; }
.saas-subhead { background:#000; height:39px; text-align:center; padding-top:26px; border-bottom:1px solid #a7a7a7; }
.saas-subhead h3 { background:url(../img/stratus/create-store.gif) no-repeat 0 0; width:151px; height:14px; text-indent:-2000em; margin:0 auto; }
.saas-right { width:496px; height:358px; float:left; }
.saas-right .bot-bg { background:url(../img/stratus/saas-right.jpg) no-repeat 0 0; height:160px; }
.magento-saas .semi-transp { background:url(../img/stratus/semi-transparent.jpg) no-repeat 0 0; color:#fff; font:14px/20px helvetica,arial; padding:14px 21px; height:101px; border-top:1px solid #a39a96; }
.magento-saas .semi-transp a { font:12px/24px helvetica,arial; color:#fff; text-decoration:underline; margin:0 0 0 8px; }
.magento-saas .semi-transp a:hover { text-decoration:none; }
.magento-saas .saas-form { background:#fff url(../img/stratus/saas-form-bg.gif) no-repeat 100% 0; height:62px; padding:25px 0 0 20px; }
.magento-saas .enter-key { background:url(../img/stratus/magento.gif) no-repeat 0 0; padding:1px 0 0 46px; width:286px; height:40px; float:left; }
.magento-saas .enter-key small { display:block; color:#ec4a24; padding:0 0 5px 0; font:10px/10px arial; }
.magento-saas .enter-key input { background:url(../img/stratus/enter-key.gif) no-repeat 0 0; width:184px; display:block; border:0; padding:10px 10px; font-size:12px; font-weight:bold; color:#929191; float:left; }
.magento-saas .enter-key input.over { background-position:0 100%; }
.magento-saas button { border:0; display:block; float:left; width:76px; height:39px; background:url(../img/stratus/lets-go.gif) no-repeat 0 0; cursor:pointer; text-indent:-2000em; }
.magento-saas .request-key { width:135px; float:right; font:11px/18px arial; }
.magento-saas .request-key a { display:block; text-decoration:underline; }
.magento-saas .request-key a:hover { text-decoration:none; }

.saas-footer { background:#202020 url(../img/stratus/saas-footer.gif) repeat-x 0 0; height:112px; margin:-1px 0 0 0; position:relative; }
.saas-email-upd { margin:37px 20px 0 0; float:right; text-align:right; /* width:444px; */ }
.saas-email-upd button { background:url(../img/stratus/subscribe.gif) no-repeat 0 0; width:82px; height:35px; float:right; }
.saas-email-upd input { display:block; padding-top:9px; padding-bottom:9px; color:#929191; float:right; width:355px; border:1px solid #b0afaf; border-right:0; background:url(../img/stratus/input-text.gif) no-repeat 0 0; }
.saas-footer label { color:#c2c1c1; display:block; margin:0 20px 0 0; width:450px; float:right; }

.nwsltr-message { position:absolute; top:20px; left:485px; color:red; font-size:11px; }

.exmpl { color:#767676; }
.exmpl strong { color:#464646; }

.magento-saas .popup-cont { position:absolute; height:458px; }
.magento-saas .popup-form { position:relative; background:url(../img/stratus/popup-bg.gif) repeat-y 0 0; width:949px; /* min-height:318px; */ }
.magento-saas .popup-form .form-bot { background:url(../img/stratus/saas-form-bot.gif) no-repeat 0 0; height:45px; }

#slideWrapper { position:relative; overflow:hidden; }
.magento-saas .popup-form .form-close { width:66px; height:22px; display:block; background:url(../img/stratus/form-close.gif) no-repeat 0 0; text-indent:-2000em; margin:19px 0 0 20px; position:absolute; }
/* .magento-saas .popup-form .form-close { margin:19px 0 0 20px; position:absolute; } */
.magento-saas .popup-form .side-note { background:#e5e5e5 url(../img/stratus/side-note.gif) repeat-y 0 0; width:416px; margin:70px 0 0 0 !important; }
.magento-saas .popup-form .side-note p { padding:17px 15px 17px 60px; font:13px/23px arial; color:#555; }
.magento-saas .cloud-logo { width:335px; height:38px; text-indent:-2000em; background:url(../img/stratus/cloud-logo.gif) no-repeat 0 0; margin:31px 0 0 85px; display:none; }
.magento-saas .popup-form .legend { float:left; width:425px; }
.magento-saas .form-cont { width:467px; float:right; margin:29px 32px 0 0; }
.magento-saas .key-accepted { background:url(../img/stratus/key-accepted.gif) no-repeat 0 0; width:467px; height:44px; margin:0 0 0 0; text-indent:-2000em; }

.saas-forms { margin:27px 4px 0 2px; }
.saas-forms .input-text,
.saas-forms .input-select { border:1px solid #b0afaf !important; background:url(../img/stratus/input-text.gif) no-repeat 0 0; padding-top:9px; padding-bottom:9px; color:#464646; }
.saas-forms .input-select { width:220px; padding:5px !important; }
.saas-forms div.input-text { padding:0; line-height:12px; height:33px; }
.saas-forms .select-but { width:26px; height:33px; display:block; float:right; background:url(../img/stratus/select-but.gif) no-repeat 0 0; }
.saas-forms .select-but-over { background-position:100% 100%; }
.saas-forms .select-opt { float:left; font:bold 11px/11px arial; text-transform:uppercase; padding:10px 0 0 10px; overflow:hidden; white-space:nowrap; }
.select-options { width:214px; height:144px; overflow-y:scroll; top:49px; right:0; position:absolute; margin:-1px 0 0 0; background:#f2f0f0 url(../img/stratus/options-bg.gif) repeat-y 0 0; border:1px solid #b0afaf; border-top:0; }
.countries-select { background:url(../img/stratus/countries-select.gif) no-repeat 0 0; height:144px; overflow-y:scroll; }
.select-options a { display:block; padding:3px 0 3px 12px; color:#464646; font-weight:bold; text-transform:uppercase; font-size:11px; white-space:nowrap; }
.select-options a:hover { background:#cfcfcf; }
.saas-forms .flds { width:216px; height:64px; }
.saas-forms .fld-left { float:left; }
.saas-forms .fld-right { float:right; }
.saas-forms .flds label { display:block; height:14px; overflow:hidden; background:url(../img/stratus/form-labels.gif) no-repeat 0 0; text-indent:-2000em; }
.saas-forms .fld-wide { float:none; width:467px; clear:both; }
.saas-forms .fld-nolabel { height:45px !important; }
.country-state { position:relative; }
#selectState { z-index:99; }
#selectCountry { z-index:98; }
.saas-forms .checkboxes { width:40px; height:17px; float:left; margin:0 9px 0 0; text-indent:-2000em; display:block; }
.saas-forms strong.title { display:block; margin:6px 0; }

.checkbox-yes { background:url(../img/stratus/checkbox-yes.gif) no-repeat 0 0; }
.checkbox-no { background:url(../img/stratus/checkbox-no.gif) no-repeat 0 0; }
.checkbox2-yes { background:url(../img/stratus/checkbox2-yes.gif) no-repeat 0 0; }
.checkbox2-no { background:url(../img/stratus/checkbox2-no.gif) no-repeat 0 0; }
.checkbox-over { background-position:0 -17px !important; }

.chb-cont2 strong { display:block; float:left; background:url(../img/stratus/sample-data.gif) no-repeat 0 0; width:115px; height:17px; text-indent:-2000em; }

.saas-forms .apply-now { background:url(../img/stratus/apply-now.gif) no-repeat 0 0; width:97px; height:48px; float:right; }
.saas-forms .agree-block { margin:13px 0 0 0; }

.saas-forms .agree-block .col-2 { position:relative; height:48px; width:215px; margin:0 -6px 0 0; }
.saas-forms .agree-block .col-2 .loading-img { float:right; margin:7px 20px 0 0; display:none; }
.saas-forms .agree-block .col-2 .loading-bg { position:absolute; top:0; right:0; width:215px; height:48px; display:none; }
.saas-forms .ajaxload .loading-img, .saas-forms .ajaxload .loading-bg { display:block !important; }

.saas-forms .license-link,
.saas-forms .agree-checkboxes { background:url(../img/stratus/agree-checkbox.gif) no-repeat 0 0; display:block; height:17px; color:#464646; font:bold 11px/17px arial; padding:0 0 0 25px; margin:0; float:left; }
.saas-forms .license-link { background:none; padding-left:1px; text-decoration:underline; }
.saas-forms .license-link:hover { text-decoration:none; }
.saas-forms .agree-block .col-1 small { display:block; color:#ec4a24; padding:0 0 5px 24px; font:10px/10px arial; visibility:hidden; }

.requestkey { height:284px; }
.saas-forms .fValidator-msg { padding:0 !important; margin:0 !important; line-height:11px !important; }

.request-success, .request-failed { background:url(../img/stratus/request-success.gif) no-repeat 0 0; width:413px; height:44px; margin:0 0 0 0; font:bold 16px/44px arial; color:#515151; text-transform:uppercase; padding:0 0 0 54px; }
.request-failed { background:url(../img/stratus/request-failed.gif) no-repeat 0 0; }

#additional { position:relative; width:459px; padding-right:10px; height:370px; overflow:hidden; }
.additional-bg { display:none; position:absolute; height:370px; width:463px; top:0; z-index:9; }
.enabled .additional-bg { display:block; }
.enabled .fValidator-msg { display:none; }
.enabled .input-text, .enabled .input-select { border:1px solid #b0afaf !important; }

.saas-form2 { background:#dbdbdb url(../img/stratus/saas-form-bg2.gif) repeat-x 0 0; border:1px solid #d1d1d1; border-top:0; }
.saas-form2-message { width:322px; border-left:1px solid #bcbcbc; margin:46px 0 20px -1px; background:#d9d9d9 url(../img/stratus/saas-form2-message.gif) repeat-x 0 0; padding:31px 15px 29px 0; }
.saas-form2-message h4 { background:url(../img/stratus/create-store-message.gif) no-repeat 0 0; width:215px; height:37px; text-indent:-2000em; margin:0 0 0 72px; }
.saas-form2 .col-1 { width:352px; }
.saas-form2 .col-2 { padding:18px 104px 0 0; }
.saas-form2 .agree-block .col-1 { width:225px !important; }
.saas-form2 .agree-block .col-2 { width:210px !important; padding:0 !important; margin:23px -8px 0 0 !important; }
.create-store-but { background:url(../img/stratus/create-store-but.gif) no-repeat 0 0 !important; width:112px !important; }

.check-availability { position:absolute; padding:0; font:11px/11px arial !important; text-align:right; right:0; }
.check-availability a {  }
.avail-loading { position:absolute; top:23px; right:0; }
.url-options { float:left; padding:15px 5px 0 5px; }
.http-option { margin-left:-56px; }
.req-fields { background:url(../img/stratus/required-fields.gif) no-repeat 0 0; text-indent:-2000em; height:14px; width:82px; }

.saas-popups h2 { margin-bottom:10px; }
.i-agree { display:block; margin:0 auto; margin-top:20px; margin-bottom:10px; background:url(../img/stratus/i-agree.gif) no-repeat 0 0; width:111px; height:49px; border:0; cursor:pointer; text-indent:-2000em; }
.saas-popup-content { padding:15px; overflow-y:scroll; height:490px !important; }
.saas-faq h2 { margin:0 0 8px 0; }
.saas-faq li { margin-bottom:7px; padding-bottom:7px !important; border-bottom:1px solid #ddd; }
.saas-faq li.last { border:0; }
.saas-faq li strong { display:block !important; font-size:13px; margin-bottom:4px; }
.saas-aup { font:14px/18px arial; }
.saas-aup h3 { color:#000; border-bottom:2px solid #000; margin:10px 0; }
.saas-aup .marked,
.saas-aup .marked-red { text-decoration:underline; color:#0101ff; }
.saas-aup .marked-red { color:red; }
.saas-aup .title { text-decoration:underline; }
.saas-aup ul li { margin:0 0 15px 0; }
.saas-aup ul li ul { margin:10px 0 0 20px; }

.flds label.ln  { background-position:0 -14px !important; }
.flds label.cn  { background-position:0 -28px !important; }
.flds label.ad  { background-position:0 -42px !important; }
.flds label.ci  { background-position:0 -56px !important; }
.flds label.st  { background-position:0 -70px !important; }
.flds label.co  { background-position:0 -84px !important; }
.flds label.cs  { background-position:0 -98px !important; }
.flds label.ao  { background-position:0 -112px !important; }
.flds label.at  { background-position:0 -126px !important; }
.flds label.pg  { background-position:0 -140px !important; }
.flds label.ur  { background-position:0 -154px !important; }
.flds label.em  { background-position:0 -168px !important; }
.flds label.ul  { background-position:0 -182px !important; }
.flds label.ke  { background-position:0 -196px !important; }
.flds label.op  { background-position:0 -210px !important; }
.flds label.zp  { background-position:0 -224px !important; }
.flds label.cn2 { background-position:0 -238px !important; }
.flds label.dw  { background-position:0 -252px !important; }
.flds label.id  { background-position:0 -266px !important; }
.flds label.un  { background-position:0 -280px !important; }
.flds label.fn2 { background-position:0 -294px !important; }
.flds label.ln2 { background-position:0 -308px !important; }
.flds label.ep  { background-position:0 -322px !important; }
.flds label.mv  { background-position:0 -336px !important; }
.flds label.pn  { background-position:0 -350px !important; }