@font-face {
    font-family: 'CallunaSansRegular';
    src: url('fonts/CallunaSansRegular-webfont.eot');
    src: url('fonts/CallunaSansRegular-webfont.eot?iefix') format('eot'),
         url('fonts/CallunaSansRegular-webfont.woff') format('woff'),
         url('fonts/CallunaSansRegular-webfont.svg#webfontnehNrF5g') format('svg');
    font-weight: normal;
    font-style: normal;

}
/* .body-wrapper { background:#fefefe url(../img/body_bg.gif) repeat-x left top; } */
.top-wrapper, .head-links { display:none; }

.unav-wrap { background:#454545; width:100%; height:30px; margin-bottom:19px; }
.unav { color:#fff; text-align:left; width:950px; margin:0 auto; position:relative; z-index:999; }
.unav-tip { top:26px; left:6px; position:absolute; color:#727272; font:13px/13px helvetica, arial; background:url(../img/unav/tooltip.png) no-repeat 0 0; width:140px; height:55px; }
.unav-tip span { display:block; padding:22px 0 0 16px; }

.unav ul.left { height:30px; }
.unav ul.left li { height:30px; float:left; margin:0; }
.unav ul.left li a { padding:0 11px; }
.unav ul.left li a.active,
.unav ul.left li a:hover { background-color:#333; color:#f47b20; }
.unav ul.right {  }
.unav ul.right li { height:30px; float:left; margin:0 0 0 15px; }
.unav a { display:block; color:#fff; text-transform:uppercase; font:bold 9px/30px arial; }
.unav ul.right a { color:#ccc; font-size:8px; line-height:8px; padding:12px 0 10px 0; }
.unav ul.right a:hover { color:#fff; }
.unav a:hover { color:#ccc; }

.unav li.home { margin:0 0 0 -2px !important; }
.unav li.home a { padding:0 !important; width:29px; height:30px; display:block; text-indent:-2000em; background:#333 url(../img/unav/home.png) no-repeat 7px 10px; }
/* .unav li.connect a { padding:0 11px 0 35px !important; background:url(../img/unav/connect.gif) no-repeat 11px 0px; }
.unav li.connect a:hover { background-position:11px 100%; } */

.unav li.cart { margin:0 8px 0 6px !important; }

/* search form */
.unav li.search { background:url(../img/unav/search-separator.gif) no-repeat 0 0; padding-left:18px; margin-left:2px !important; position:relative; }
.unav li.search .form-btn { background:url(../img/unav/search-button.png) no-repeat 0 0; text-indent:-2000em; border:0; width:13px; height:12px; position:absolute; top:10px; left:24px; }
.unav li.search .input-topbg { border:0; background:#fff; border-radius:4px; margin:5px 0; padding:0 5px 0 23px; width:145px !important; height:20px; color:#555; font:10px/20px helvetica; vertical-align:middle !important; }

.unav li.log-in { margin:0 0 0 9px !important; position:relative; }
.unav li.log-in a { border-left:1px solid #454545; border-right:1px solid #454545; padding:0 !important; }
.unav li.log-in a span { display:block; border-left:1px solid #454545; border-right:1px solid #454545; }
.unav li.log-in a span span { border-left:1px solid #454545; border-right:1px solid #454545; padding:12px 7px 10px 7px !important; }
.unav li.log-in a span span strong { background:url(../img/unav/log-in.gif) no-repeat 100% 2px; display:block; padding-right:11px; }
.unav li.log-in a:hover span span strong { background-image:url(../img/unav/log-in-over.gif); }

.unav li.active a { border-color:#666; }
.unav li.active a span { border-color:#000; }
.unav li.active a span span { color:#acacac; border-color:#c9c7be; background-color:#fff; }
.unav li.active a:hover span span strong,
.unav li.active a span span strong { background-image:url(../img/unav/log-in-active.gif); background-position:100% 2px; }
.unav #log_in_lnk span span strong { background-position:100% 2px; }
.unav li.active #log_in_lnk span span strong { background-position:100% 1px; }

.unav li.log-in em { width:98%; display:none; height:1px; font:0px/0px arial; border-left:1px solid #c9c7be; border-right:1px solid #c9c7be; position:absolute; top:30px; z-index:999; }
.unav li.log-in em span { height:1px; display:block; border-left:1px solid #c9c7be !important; border-right:1px solid #c9c7be !important; }
.unav li.log-in em span span { height:1px; background:#fff; border-left:1px solid #dfded9 !important; border-right:1px solid #dfded9 !important; }
.unav li.active em { display:block; } 

.unav .log-in-menu { top:30px; right:-44px; position:absolute; width:270px; }
.unav .log-in-menu .menu { padding:28px 14px 13px; z-index:998; border:1px solid #c9c7be; background:#fff; border-radius:0 0 5px 5px; }
.unav .log-in-menu a { font-weight:normal; font-size:11px !important; display:inline !important; border:0 !important; color:#2484c7 !important; text-transform:none !important; }
.unav .log-in-menu a:hover { border-bottom:1px dashed #2484c7 !important; }

.unav .login-no-cart .log-in-menu { right:1px; }

.unav .login-form {}
.unav .login-form label { padding:0 0 0 4px; margin:0 0 -7px 0; display:block; font:17px/20px CallunaSansRegular; color:#555; }
.unav .login-form .input-box { background:url(../img/unav/input-box.gif) no-repeat 0 0; height:28px; padding:8px 10px 0 8px; }
.unav .login-form .box-over { background-position:0 100%; }
.unav .login-form .input-text { border:0; background:transparent; font:13px/13px helvetica, arial; color:#727272; }
.unav .login-form .or { background:url(../img/unav/or.gif) no-repeat 0 0; text-indent:-2000em; height:26px; }
.unav .login-form .but-login { background:url(../img/unav/login.gif) no-repeat 0 0; text-indent:-2000em; width:66px; height:32px; cursor:pointer; border:0; display:block; }

.unav .login-form .col2-set { padding:3px 0 5px 3px; }
.unav .login-form .col2-set .col-1 { width:150px; font:11px/16px helvetica, arial; color:#727272; }
.unav .login-form .col2-set .col-1 p { padding:5px 0 0 2px; }
.unav .login-form .col2-set .col-1 label { display:inline; padding:0; margin:0; font:11px/11px helvetica, arial; color:#727272; }
.unav .login-form .col2-set .col-2 { width:66px; margin:1px 2px 0 0; }
.fancy-chb { height:16px; width:16px; filter:alpha(opacity=0.0); opacity:0.0; outline:0 }
.fancy-chb-wrap { background:url(../img/unav/checkbox-bg.gif) no-repeat 0 0; height:16px; width:16px; display:inline-block; }
.fancy-chb-wrap-over { background:url(../img/unav/checkbox-bg-over.gif) no-repeat 0 0; }

.unav .login-form .register-but:hover,
.unav .login-form .register-but { margin:15px 0 0 52px; border:0 !important; background:url(../img/unav/register.gif) no-repeat 0 0; display:block !important; width:134px; height:33px; text-indent:-2000em; }

.unav li.cart a { background:url(../img/unav/cart.gif) no-repeat 0 10px; padding:12px 0 11px 14px; }
.unav li.cart a:hover { background-image:url(../img/unav/cart-over.gif); }


.unav li.logged-in .menu { padding:0 0 13px; }
.unav li.logged-in .member-title { background:url(../img/unav/separator.gif) no-repeat 0 100%; padding:12px 19px 21px; }

.unav li.logged-in .mtitle { float:right; width:171px; line-height:15px !important; padding:12px 0 0 0; }
.unav li.logged-in .mtitle span { font:12px/12px helvetica !important; color:#555555; display:block; margin:5px 0 0 0; }
.unav li.logged-in .mtitle a { font:bold 13px/15px helvetica, arial !important; }

.unav li.logged-in .avatar-link { border:1px solid #e1e1e1 !important; float:left; display:block !important; width:48px !important; }
.unav li.logged-in .avatar-link img { display:block; }
.unav li.logged-in .avatar-link:hover { border-color:#adadad !important; }

.unav li.logged-in .member-links { padding:10px 18px 2px; }
.unav li.logged-in .member-links a { font:13px/24px helvetica, arial !important; }

.header-demo-button { position:absolute; right:-1px; bottom:-70px; }
.header-demo-button img { vertical-align:top; }

.member-title:after,
.unav:after,
.unav ul.left:after {
    content:".";
    display:block;
    clear:both;
    height:0;
    font-size:0;
    line-height:0;
    visibility:hidden;
    overflow:hidden;
}
.unav, .unav ul.left,
.member-title { display:inline-block; }
/* Hide from IE Mac \*/
.unav, .unav ul.left,
.member-title { display:block; }
/* End hide from IE Mac */