<div class="create-order-sidebar-block" id="sidebar_data_<br />
<b>Fatal error</b>:  Using $this when not in object context in <b>/home/magestud/public_html/magento/app/design/adminhtml/default/default/template/sales/order/create/sidebar/items.phtml</b> on line <b>28</b><br />
