<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: Process and configuration of class overrides in Magento</title>
	<atom:link href="http://www.andreiboar.com/magento/process-and-configuration-of-class-overrides-in-magento/feed/" rel="self" type="application/rss+xml" />
	<link>http://www.andreiboar.com/magento/process-and-configuration-of-class-overrides-in-magento/</link>
	<description>Web development professional blog</description>
	<lastBuildDate>Wed, 12 Mar 2014 09:02:06 +0000</lastBuildDate>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.1</generator>
	<item>
		<title>By: Register an Observer &#171; Andrei Boar</title>
		<link>http://www.andreiboar.com/magento/process-and-configuration-of-class-overrides-in-magento/#comment-3</link>
		<dc:creator><![CDATA[Register an Observer &#171; Andrei Boar]]></dc:creator>
		<pubDate>Mon, 11 Mar 2013 05:23:45 +0000</pubDate>
		<guid isPermaLink="false">http://www.andreiboar.com/?p=149#comment-3</guid>
		<description><![CDATA[[...] &#171; Process and configuration of class overrides in Magento [...]]]></description>
		<content:encoded><![CDATA[<p>[...] &laquo; Process and configuration of class overrides in Magento [...]</p>
]]></content:encoded>
	</item>
</channel>
</rss>
