<div class="entry-edit box-left">
    <div class="entry-edit-head">
        <h4 class="icon-head"><br />
<b>Fatal error</b>:  Class 'Mage' not found in <b>/home/magestud/public_html/magento/app/design/adminhtml/default/default/template/sales/order/create/coupons/form.phtml</b> on line <b>35</b><br />
