<br />
<b>Fatal error</b>:  Class 'Varien_Object' not found in <b>/home/magestud/public_html/magento/app/code/core/Mage/Adminhtml/Model/System/Config/Source/Email/Template.php</b> on line <b>36</b><br />
