<br />
<b>Fatal error</b>:  Class 'Mage_Sales_Model_Order_Total_Config_Base' not found in <b>/home/magestud/public_html/magento/app/code/core/Mage/Sales/Model/Order/Invoice/Config.php</b> on line <b>35</b><br />
