<br />
<b>Fatal error</b>:  Class 'Mage_Paypal_Block_Express_Shortcut' not found in <b>/home/magestud/public_html/magento/app/code/core/Mage/PaypalUk/Block/Express/Shortcut.php</b> on line <b>31</b><br />
