<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	xmlns:media="http://search.yahoo.com/mrss/">

<channel>
	<title>BelVG Blog &#187; Certification</title>
	<atom:link href="http://blog.belvg.com/category/magento-news/developer-certification/feed" rel="self" type="application/rss+xml" />
	<link>http://blog.belvg.com</link>
	<description>BelVG Blog - Magento and Prestashop articles</description>
	<lastBuildDate>Tue, 25 Mar 2014 06:08:59 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.4.1</generator>
		<item>
		<title>Use a Local.xml File</title>
		<link>http://blog.belvg.com/use-a-local-xml-file.html</link>
		<comments>http://blog.belvg.com/use-a-local-xml-file.html#comments</comments>
		<pubDate>Thu, 30 Jan 2014 13:37:03 +0000</pubDate>
		<dc:creator>Tatiana Kozyreva</dc:creator>
				<category><![CDATA[Certification]]></category>
		<category><![CDATA[Magento]]></category>
		<category><![CDATA[Local.xml]]></category>
		<category><![CDATA[magento]]></category>
		<category><![CDATA[Magento Front End Developer Certification]]></category>

		<guid isPermaLink="false">http://blog.belvg.com/?p=6252</guid>
		<description><![CDATA[Is it possible to update or change a theme layout so that all default files would remain unchanged, yet all changes you make would be listed in a single file?Also, is it possible to optimize the working process in such a way so that you would not need to search for multiple changes in the [...]]]></description>
		<wfw:commentRss>http://blog.belvg.com/use-a-local-xml-file.html/feed</wfw:commentRss>
		<slash:comments>0</slash:comments>
	<enclosure url="http://blog.belvg.com/wp-content/uploads/2014/01/frontend_cert2-150x150.jpg" length="5507" type="image/jpg" /><media:content url="http://blog.belvg.com/wp-content/uploads/2014/01/frontend_cert2-150x150.jpg" width="150" height="150" medium="image" type="image/jpeg" />	</item>
		<item>
		<title>Layout Element &#8211; &lt;Block&gt;. Block Type. Define an Output Block</title>
		<link>http://blog.belvg.com/layout-element-block-type-define-an-output-block.html</link>
		<comments>http://blog.belvg.com/layout-element-block-type-define-an-output-block.html#comments</comments>
		<pubDate>Mon, 09 Dec 2013 14:07:46 +0000</pubDate>
		<dc:creator>Tatiana Kozyreva</dc:creator>
				<category><![CDATA[Certification]]></category>
		<category><![CDATA[Magento]]></category>
		<category><![CDATA[block]]></category>
		<category><![CDATA[Block Type]]></category>
		<category><![CDATA[magento]]></category>
		<category><![CDATA[Magento Front End Developer Certification]]></category>

		<guid isPermaLink="false">http://blog.belvg.com/?p=6065</guid>
		<description><![CDATA[Mаgentо defines visual structure and behavior of each page block via the tag &#60;block&#62;.  As we know, in Mаgentо there are 2 types of blocks: structural and content. Both of them can be defined by the element &#60;block&#62;. So, what is the &#60;block&#62; element? &#60;Block&#62; - This element is used to define a new block. [...]]]></description>
		<wfw:commentRss>http://blog.belvg.com/layout-element-block-type-define-an-output-block.html/feed</wfw:commentRss>
		<slash:comments>0</slash:comments>
	<enclosure url="http://blog.belvg.com/wp-content/uploads/2013/12/frontend_cert3-150x150.jpg" length="6537" type="image/jpg" /><media:content url="http://blog.belvg.com/wp-content/uploads/2013/12/frontend_cert3-150x150.jpg" width="150" height="150" medium="image" type="image/jpeg" />	</item>
		<item>
		<title>Layout XML Directives &#8211; Handles, Block, Reference, Action, Remove, Update</title>
		<link>http://blog.belvg.com/layout-xml-directives-handles-block-reference-action-remove-update.html</link>
		<comments>http://blog.belvg.com/layout-xml-directives-handles-block-reference-action-remove-update.html#comments</comments>
		<pubDate>Mon, 02 Dec 2013 10:16:57 +0000</pubDate>
		<dc:creator>Sergei Guk</dc:creator>
				<category><![CDATA[Certification]]></category>
		<category><![CDATA[Magento]]></category>
		<category><![CDATA[magento]]></category>
		<category><![CDATA[Magento Certification]]></category>
		<category><![CDATA[Magento Front End Developer Certification]]></category>
		<category><![CDATA[xml]]></category>

		<guid isPermaLink="false">http://blog.belvg.com/?p=6022</guid>
		<description><![CDATA[ What are Layout files in Magento? As you might already know, the View in Magento (stands for the View from MVC pattern) is more difficult than in most PHP applications and it contains not only Templates &#8211; html/css/js code with PHP or any other template engine (such as Smarty, Twig etc.), but also Blocks which [...]]]></description>
		<wfw:commentRss>http://blog.belvg.com/layout-xml-directives-handles-block-reference-action-remove-update.html/feed</wfw:commentRss>
		<slash:comments>0</slash:comments>
	<enclosure url="http://blog.belvg.com/wp-content/uploads/2013/12/frontend_cert2-150x150.jpg" length="6416" type="image/jpg" /><media:content url="http://blog.belvg.com/wp-content/uploads/2013/12/frontend_cert2-150x150.jpg" width="150" height="150" medium="image" type="image/jpeg" />	</item>
		<item>
		<title>Magento Fallback Configuration &#8211; Default and Specific Themes, Packages, Design Exceptions, Temporary Theme Configuration</title>
		<link>http://blog.belvg.com/magento-fallback-configuration-default-and-specific-themes-packages-design-exceptions-temporary-theme-configuration.html</link>
		<comments>http://blog.belvg.com/magento-fallback-configuration-default-and-specific-themes-packages-design-exceptions-temporary-theme-configuration.html#comments</comments>
		<pubDate>Mon, 18 Nov 2013 15:18:27 +0000</pubDate>
		<dc:creator>Sergei Guk</dc:creator>
				<category><![CDATA[Certification]]></category>
		<category><![CDATA[Magento]]></category>
		<category><![CDATA[magento]]></category>
		<category><![CDATA[Magento Certification]]></category>
		<category><![CDATA[Magento Front End Developer Certification]]></category>

		<guid isPermaLink="false">http://blog.belvg.com/?p=5949</guid>
		<description><![CDATA[What is Magento design fallback? Fallback mechanism in Magento is the ability of Magento to use the files from multiple themes in one page, i.e. making your own custom themes more upgradable and with fewer files. Magento has used fallback mechanism since the very beginning, however from Magento CE 1.4 and Magento EE 1.8 they [...]]]></description>
		<wfw:commentRss>http://blog.belvg.com/magento-fallback-configuration-default-and-specific-themes-packages-design-exceptions-temporary-theme-configuration.html/feed</wfw:commentRss>
		<slash:comments>0</slash:comments>
	<enclosure url="http://blog.belvg.com/wp-content/uploads/2013/11/dev_certif_banner-150x150.png" length="27050" type="image/jpg" /><media:content url="http://blog.belvg.com/wp-content/uploads/2013/11/dev_certif_banner-150x150.png" width="150" height="150" medium="image" type="image/png" />	</item>
		<item>
		<title>Create custom themes (Magento Front End Developer Certification)</title>
		<link>http://blog.belvg.com/create-custom-themes-magento-front-end-developer-certification.html</link>
		<comments>http://blog.belvg.com/create-custom-themes-magento-front-end-developer-certification.html#comments</comments>
		<pubDate>Thu, 17 Oct 2013 14:56:32 +0000</pubDate>
		<dc:creator>Sergei Guk</dc:creator>
				<category><![CDATA[Certification]]></category>
		<category><![CDATA[Magento]]></category>
		<category><![CDATA[magento]]></category>
		<category><![CDATA[Magento Certification]]></category>
		<category><![CDATA[Magento Front End Developer Certification]]></category>

		<guid isPermaLink="false">http://blog.belvg.com/?p=5848</guid>
		<description><![CDATA[As everyone knows Magento is a MVC application and  we will be tackling it&#8217;s V letter a.k.a View in this series of articles. Magento&#8217;s View layer is a tricky one and contains Blocks, Layouts and Templates, but for Magento Front End Developer certification we need to study Layouts and Templates only in form of Themes. [...]]]></description>
		<wfw:commentRss>http://blog.belvg.com/create-custom-themes-magento-front-end-developer-certification.html/feed</wfw:commentRss>
		<slash:comments>2</slash:comments>
	<enclosure url="http://blog.belvg.com/wp-content/uploads/2013/10/certificate-frotn-end3-150x150.jpg" length="9161" type="image/jpg" /><media:content url="http://blog.belvg.com/wp-content/uploads/2013/10/certificate-frotn-end3-150x150.jpg" width="150" height="150" medium="image" type="image/jpeg" />	</item>
		<item>
		<title>Themes in Magento. Part V (Magento Certified Developer Exam)</title>
		<link>http://blog.belvg.com/magento-certified-developer-exam-themes-in-magento-part-v.html</link>
		<comments>http://blog.belvg.com/magento-certified-developer-exam-themes-in-magento-part-v.html#comments</comments>
		<pubDate>Thu, 14 Feb 2013 14:28:15 +0000</pubDate>
		<dc:creator>Mishel Soiko</dc:creator>
				<category><![CDATA[Certification]]></category>
		<category><![CDATA[certification]]></category>
		<category><![CDATA[exam]]></category>
		<category><![CDATA[magento]]></category>
		<category><![CDATA[Magento Certification]]></category>
		<category><![CDATA[themes]]></category>

		<guid isPermaLink="false">http://blog.belvg.com/?p=4118</guid>
		<description><![CDATA[Mage_Core_Model_Design_Package We have used this class many times to get theme files but have not checked what is inside yet. So, let&#8217;s see if there is anything interesting there to learn. These is where we previously met this class: 1.    Mage_Core_Model_Layout_Update :: fetchFileLayoutUpdates() 2.    Mage_Core_Model_Layout_Update :: getFileLayoutUpdatesXml() 3.    Mage_Core_Controller_Varien_Action :: addActionLayoutHandles() 4.    Mage_Core_Model_Resource_Layout :: fetchUpdatesByHandle() [...]]]></description>
		<wfw:commentRss>http://blog.belvg.com/magento-certified-developer-exam-themes-in-magento-part-v.html/feed</wfw:commentRss>
		<slash:comments>0</slash:comments>
	<enclosure url="http://blog.belvg.com/wp-content/uploads/2013/02/certificate-new9-150x150.jpg" length="9202" type="image/jpg" /><media:content url="http://blog.belvg.com/wp-content/uploads/2013/02/certificate-new9-150x150.jpg" width="150" height="150" medium="image" type="image/jpeg" />	</item>
		<item>
		<title>Themes in Magento. Part IV (Magento Certified Developer Exam)</title>
		<link>http://blog.belvg.com/magento-certified-developer-exam-themes-in-magento-part-iv.html</link>
		<comments>http://blog.belvg.com/magento-certified-developer-exam-themes-in-magento-part-iv.html#comments</comments>
		<pubDate>Mon, 11 Feb 2013 11:36:47 +0000</pubDate>
		<dc:creator>Mishel Soiko</dc:creator>
				<category><![CDATA[Certification]]></category>
		<category><![CDATA[certification]]></category>
		<category><![CDATA[exam]]></category>
		<category><![CDATA[magento]]></category>
		<category><![CDATA[Magento Certification]]></category>
		<category><![CDATA[themes]]></category>

		<guid isPermaLink="false">http://blog.belvg.com/?p=4082</guid>
		<description><![CDATA[renderLayout Before we begin, let us sum up what we know about loadLayout  since in previous parts pretty much information  has been provided. Mage::getSingleton(&#8216;core/layout&#8217;)-&#62;getNode() We declared all Block classes  and executed all found Actions. Each Block knows its descendants. So now, launching the main block rendering we will step by step render the entire page. [...]]]></description>
		<wfw:commentRss>http://blog.belvg.com/magento-certified-developer-exam-themes-in-magento-part-iv.html/feed</wfw:commentRss>
		<slash:comments>0</slash:comments>
	<enclosure url="http://blog.belvg.com/wp-content/uploads/2013/02/certificate-new8-150x150.jpg" length="9279" type="image/jpg" /><media:content url="http://blog.belvg.com/wp-content/uploads/2013/02/certificate-new8-150x150.jpg" width="150" height="150" medium="image" type="image/jpeg" />	</item>
		<item>
		<title>Themes in Magento. Part III (Magento Certified Developer Exam)</title>
		<link>http://blog.belvg.com/magento-certified-developer-exam-themes-in-magento-part-iii.html</link>
		<comments>http://blog.belvg.com/magento-certified-developer-exam-themes-in-magento-part-iii.html#comments</comments>
		<pubDate>Fri, 08 Feb 2013 11:41:45 +0000</pubDate>
		<dc:creator>Mishel Soiko</dc:creator>
				<category><![CDATA[Certification]]></category>
		<category><![CDATA[certification]]></category>
		<category><![CDATA[exam]]></category>
		<category><![CDATA[magento]]></category>
		<category><![CDATA[Magento Certification]]></category>
		<category><![CDATA[themes]]></category>

		<guid isPermaLink="false">http://blog.belvg.com/?p=4073</guid>
		<description><![CDATA[In the previous article, I promised to tell more about this function: Mage_Core_Model_Layout_Update :: marge() Also have given only a brief notice for these functions: Mage_Core_Model_Layout :: _generateBlock($node, $parent) Mage_Core_Model_Layout :: _generateAction($node, $parent) Well, it is time to keep promises then. marge() When all Handles are found, they should be assembled into a single XML [...]]]></description>
		<wfw:commentRss>http://blog.belvg.com/magento-certified-developer-exam-themes-in-magento-part-iii.html/feed</wfw:commentRss>
		<slash:comments>0</slash:comments>
	<enclosure url="http://blog.belvg.com/wp-content/uploads/2013/02/certificate-new7-150x150.jpg" length="9295" type="image/jpg" /><media:content url="http://blog.belvg.com/wp-content/uploads/2013/02/certificate-new7-150x150.jpg" width="150" height="150" medium="image" type="image/jpeg" />	</item>
		<item>
		<title>Themes in Magento. Part II (Magento Certified Developer Exam)</title>
		<link>http://blog.belvg.com/magento-certified-developer-exam-themes-in-magento-part-ii.html</link>
		<comments>http://blog.belvg.com/magento-certified-developer-exam-themes-in-magento-part-ii.html#comments</comments>
		<pubDate>Wed, 06 Feb 2013 13:15:45 +0000</pubDate>
		<dc:creator>Mishel Soiko</dc:creator>
				<category><![CDATA[Certification]]></category>
		<category><![CDATA[certification]]></category>
		<category><![CDATA[exam]]></category>
		<category><![CDATA[magento]]></category>
		<category><![CDATA[Magento Certification]]></category>
		<category><![CDATA[themes]]></category>

		<guid isPermaLink="false">http://blog.belvg.com/?p=4032</guid>
		<description><![CDATA[How it works In this article I am going to shed light on the classes and functions which work with Magento themes. Main classes: Mage_Core_Model_Layout Mage_Core_Model_Layout_Update Mage_Core_Model_Design Mage_Core_Model_Design_Package Mage_Core_Block_Templat So, where does it all start? Well, I am not going bother you with the detailed description of how Magento is launched from the outset.  Instead, [...]]]></description>
		<wfw:commentRss>http://blog.belvg.com/magento-certified-developer-exam-themes-in-magento-part-ii.html/feed</wfw:commentRss>
		<slash:comments>2</slash:comments>
	<enclosure url="http://blog.belvg.com/wp-content/uploads/2013/02/certificate-new3-150x150.jpg" length="9771" type="image/jpg" /><media:content url="http://blog.belvg.com/wp-content/uploads/2013/02/certificate-new3-150x150.jpg" width="150" height="150" medium="image" type="image/jpeg" />	</item>
		<item>
		<title>Themes in Magento. Part I (Magento Certified Developer Exam)</title>
		<link>http://blog.belvg.com/magento-certified-developer-exam-themes-in-magento-part-i.html</link>
		<comments>http://blog.belvg.com/magento-certified-developer-exam-themes-in-magento-part-i.html#comments</comments>
		<pubDate>Fri, 01 Feb 2013 13:19:58 +0000</pubDate>
		<dc:creator>Mishel Soiko</dc:creator>
				<category><![CDATA[Certification]]></category>
		<category><![CDATA[certification]]></category>
		<category><![CDATA[exam]]></category>
		<category><![CDATA[magento]]></category>
		<category><![CDATA[Magento Certification]]></category>
		<category><![CDATA[themes]]></category>

		<guid isPermaLink="false">http://blog.belvg.com/?p=3916</guid>
		<description><![CDATA[First of all, we’d like to extend the topic to “How to create a web site using the Magento CMS”. The reason for it is that it is the theme(s) creation (including the mobile ones) the user starts the development of the store with. The principal thing in theme creation is the desire to update [...]]]></description>
		<wfw:commentRss>http://blog.belvg.com/magento-certified-developer-exam-themes-in-magento-part-i.html/feed</wfw:commentRss>
		<slash:comments>6</slash:comments>
	<enclosure url="http://blog.belvg.com/wp-content/uploads/2013/02/certific546ate2-150x150.jpg" length="5312" type="image/jpg" /><media:content url="http://blog.belvg.com/wp-content/uploads/2013/02/certific546ate2-150x150.jpg" width="150" height="150" medium="image" type="image/jpeg" />	</item>
	</channel>
</rss>
