<br />
<b>Fatal error</b>:  Class 'Mage_Adminhtml_Controller_Action' not found in <b>/home/magestud/public_html/magento/app/code/core/Mage/Paypal/controllers/Adminhtml/Paypal/ReportsController.php</b> on line <b>35</b><br />
