<div>
    <div class="grid">
        <div class="hor-scroll">
            <table cellspacing="0" class="data">
                <thead>
                <tr class="headings">
                    <th class=" no-link"><span class="nobr"><br />
<b>Fatal error</b>:  Class 'Mage' not found in <b>/home/magestud/public_html/magento/app/design/adminhtml/default/default/template/sales/order/shipment/packaging/grid.phtml</b> on line <b>33</b><br />
