
<div id="packed_window" style="display:none;" class="packed-window">
    <div class="entry-edit">
        <div class="entry-edit-head">
            <h4 class="icon-head fieldset-legend"><br />
<b>Fatal error</b>:  Class 'Mage' not found in <b>/home/magestud/public_html/magento/app/design/adminhtml/default/default/template/sales/order/shipment/packaging/packed.phtml</b> on line <b>31</b><br />
