<br />
<b>Fatal error</b>:  Using $this when not in object context in <b>/home/magestud/public_html/magento/app/design/adminhtml/default/default/template/sales/order/shipment/packaging/popup.phtml</b> on line <b>28</b><br />
