<br />
<b>Fatal error</b>:  Class 'Mage_Adminhtml_Model_System_Config_Source_Order_Status' not found in <b>/home/magestud/public_html/magento/app/code/core/Mage/Adminhtml/Model/System/Config/Source/Order/Status/Newprocessing.php</b> on line <b>31</b><br />
