<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: How Magento loads and manipulates configuration information</title>
	<atom:link href="http://www.andreiboar.com/magento/how-magento-loads-and-manipulates-configuration-information/feed/" rel="self" type="application/rss+xml" />
	<link>http://www.andreiboar.com/magento/how-magento-loads-and-manipulates-configuration-information/</link>
	<description>Web development professional blog</description>
	<lastBuildDate>Wed, 12 Mar 2014 09:02:06 +0000</lastBuildDate>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.1</generator>
	<item>
		<title>By: Andrei Boar</title>
		<link>http://www.andreiboar.com/magento/how-magento-loads-and-manipulates-configuration-information/#comment-113</link>
		<dc:creator><![CDATA[Andrei Boar]]></dc:creator>
		<pubDate>Fri, 26 Apr 2013 06:59:27 +0000</pubDate>
		<guid isPermaLink="false">http://www.andreiboar.com/?p=68#comment-113</guid>
		<description><![CDATA[I&#039;m glad that you found this post useful. Thank you :)]]></description>
		<content:encoded><![CDATA[<p>I&#8217;m glad that you found this post useful. Thank you <img src="http://www.andreiboar.com/wp-includes/images/smilies/icon_smile.gif" alt=":)" class="wp-smiley" /> </p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Arjun Dhiman</title>
		<link>http://www.andreiboar.com/magento/how-magento-loads-and-manipulates-configuration-information/#comment-105</link>
		<dc:creator><![CDATA[Arjun Dhiman]]></dc:creator>
		<pubDate>Fri, 19 Apr 2013 10:18:55 +0000</pubDate>
		<guid isPermaLink="false">http://www.andreiboar.com/?p=68#comment-105</guid>
		<description><![CDATA[Yes this tutorial help us to understand the flow of magento configuration.Thanks a lot to post that tutorial]]></description>
		<content:encoded><![CDATA[<p>Yes this tutorial help us to understand the flow of magento configuration.Thanks a lot to post that tutorial</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Magento application initialization &#171; Andrei Boar</title>
		<link>http://www.andreiboar.com/magento/how-magento-loads-and-manipulates-configuration-information/#comment-15</link>
		<dc:creator><![CDATA[Magento application initialization &#171; Andrei Boar]]></dc:creator>
		<pubDate>Mon, 18 Mar 2013 07:12:51 +0000</pubDate>
		<guid isPermaLink="false">http://www.andreiboar.com/?p=68#comment-15</guid>
		<description><![CDATA[[...] Here, Magento loads its base configuration and modules configuration. I covered these aspects in How Magento loads and manipulates configuration information. [...]]]></description>
		<content:encoded><![CDATA[<p>[...] Here, Magento loads its base configuration and modules configuration. I covered these aspects in How Magento loads and manipulates configuration information. [...]</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Class group configuration in Magento &#171; Andrei Boar</title>
		<link>http://www.andreiboar.com/magento/how-magento-loads-and-manipulates-configuration-information/#comment-2</link>
		<dc:creator><![CDATA[Class group configuration in Magento &#171; Andrei Boar]]></dc:creator>
		<pubDate>Thu, 07 Mar 2013 16:51:44 +0000</pubDate>
		<guid isPermaLink="false">http://www.andreiboar.com/?p=68#comment-2</guid>
		<description><![CDATA[[...] &#171; How Magento loads and manipulates configuration information [...]]]></description>
		<content:encoded><![CDATA[<p>[...] &laquo; How Magento loads and manipulates configuration information [...]</p>
]]></content:encoded>
	</item>
</channel>
</rss>
