<div>
<ul class="messages">
    <li class="notice-msg">
        <ul>
            <li><br />
<b>Fatal error</b>:  Class 'Mage' not found in <b>/home/magestud/public_html/magento/app/design/adminhtml/default/default/template/sales/order/address/form.phtml</b> on line <b>31</b><br />
